chromadb==0.5.23
fastapi==0.115.6
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
langchain==0.3.13
langchain-core==0.3.28
numpy==1.24.1
openai==0.28.0
pydantic==2.10.4
pydantic-settings==2.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
tiktoken==0.8.0
tokenizers==0.20.3
uvicorn==0.34.0